<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (resources.length <= 0) { %>
            <h1>No Resource Found!</h1>
        <% } else { %>
            <div class="item-grid">
                <% resources.forEach(resource => { %>
                    <div class="item">
                        <h3><%= resource.title %></h3>
                        <p><strong>Author:</strong> <%= resource.author %></p>
                        <p><strong>Year:</strong> <%= resource.publicationYear %></p>
                        <p><strong>Genre:</strong> <%= resource.genre %></p>
                        <div class="buttons">
                            <a class="btn" href="/resources/<%= resource._id %>">Details</a>
                            <% if(isAuthenticated) { %>
                                <%- include('../includes/add-to-borrow.ejs', { resource: resource }) %>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>